body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #000;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px auto;
}

header{
    background-color: rgb(1, 108, 1);
    padding: 1rem 0;
    box-shadow: #000;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
}

footer {
    background-color: green;
    color: #000;
    padding: 2rem 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    display: flex;
}

.footer-nav li {
    margin-left: 1.5rem;
}

.footer-nav a:hover {
    color: orange;
    text-decoration: underline;
}

.header-nav{
    display: flex;

}
.header-nav li{
    margin-left: 1.5rem;
}

.hero{
    background: url('kasane.jpg') ;
    background-size: cover;
    background-position: center;
    padding: 6rem 0;
    text-align: center;
    color: #fff;
}

.btn {
    display: inline-block;
    background-color:green;
    color:#fff;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}
 
.section-title {
    text-align: center;
    margin-bottom: 3rem;
    color: green;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .item {
    padding: 10px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    border: 1px solid green;
    box-shadow: #000;
  }
  h3{
    color: green;
  }

  .header-nav a:hover{
    text-decoration: underline;
    color: orange;
  }